body {
    text-align: center;
  }
  
  .choice-button {
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(164, 212, 130);
    border-radius: 20px;
    cursor: pointer;
  }
  
  .choice-image {
    height: 84px;
    border-radius: 10px;
  }
  #container{
    height:500px;
    width: 400px;
    border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    left: 33.33%; 
    background-color: bisque;
  }